<div class="header">
			<!--NAV BAR-->
			<div class="nav"> 
				<div id="container">
					<ul>
						<li id="name">Kris Penney</li>
						<li><a href="index.html">About</a></li>
						<li><a href="resume.html">Resume</a></li>
						
					</ul>

				</div>
			</div>
			<!--SOCIAL BAR-->
			<div class="social">
					<a id="shift" href="mailto:penn5150@mylaurier.ca"><img src="images/email.png" alt="Email" class="transparent_class"></a>
					<a href="https://plus.google.com/108825782324277929446/posts" target="_blank"><img src="images/g+.png" alt="Google Plus" class="transparent_class"></a>
					<a href="http://www.linkedin.com/pub/kris-penney/35/15/4a" target="_blank"><img src="images/linked.png" alt="LinkedIn" class="transparent_class"></a>
					<a href="https://github.com/k9101" target="_blank"><img src="images/git_logo.png" alt="GitHub" class="transparent_class"></a>
					
			</div>
		</div>